<% layout("layouts/boilerplate") %>

<body>

  <h1>All Listings</h1>

  <div class="listings">

    <% if (listings && listings.length) { %>

      <% for (let listing of listings) { %>

        <div class="card">
    <!--          <img
            src="<%= listing.image %>"
            alt="listing image"
            loading="lazy"
          >  -->

          <h2><a href="/listings/<%=listing._id%>/show"><%= listing.title %></a></h2><br>
	<button> <a href="/listings/<%=listing._id%>/edit">update</a></button>
        <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
	     <button type="submit">delete</button>
	</form>
        </div>

      <% } %>

    <% } else { %>
      <p>No listings found.</p>
    <% } %>

  </div>

</body>
</html>
